.idea/
./includes/CMS.php
./includes/SQL.php
includes/CMS.php
./old/
old/9a10b3ab65b63fea4039f5b0fa23cd15.txt
*.js
*.php
*.gif
*.png
*.db
*.txt
*.ttf
*.php9
*.ico
*.xml
*.css
*.swf
*.sql
old/habblet/error_log
old/housekeeping/error_log
*.html
old/templates/frontpage/web-gallery/.htaccess
*.htc
old/templates/frontpage/web-gallery/flash/draworder
old/templates/frontpage/web-gallery/flash/figure_editor
old/templates/frontpage/web-gallery/flash/figuredata
*.jpg
old/xml/draworder
old/xml/error_log
old/xml/figure_editor
old/xml/figuredata
